<!doctype html>
<html>
<head>
    <title>Bomberman game</title>

</head>
<body>
    <h1>Welcome to bomberman game</h1>
    <script src="/js/lib/jquery-2.1.0.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>