<!doctype html>
<html>
<head>
    <title>Bomberman game</title>
    <link rel="stylesheet" href="/css/main.css"/>

</head>
<body>
    <h1>Welcome to bomberman game</h1>
    <div class="container">

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/jquery-2.1.0.js"></script>
    <script src="/js/models/block.js"></script>
    <script src="/js/models/field.js"></script>
    <script src="/js/models/player.js"></script>
    <script src="/js/views/view.js"></script>
    <script src="/js/views/fieldView.js"></script>
    <script src="/js/views/playerView.js"></script>
    <script src="/js/routers/router.js"></script>
    <script src="/js/controllers/gameController.js"></script>
    <script src="/js/controllers/keyHandler.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>